---
/** Blog post catalogue page
 * Layout: /src/layouts/BaseLayout.astro
 * URL: /astro
 * 
 * Pages source content: /src/content/blog
 * Pages Index page: /src/pages/posts/index.astro => /posts
 * Auto page creation: /src/pages/posts/[...slug].astro => /posts/<slug>
 * Pages layout: /src/layouts/BlogpostLayout.astro
 */

import siteInfo from '../site-info.json';
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from 'astro:content';

// Page metadata
const pageMeta = siteInfo.pages.filter( (pg) => pg.path === new URL(Astro.request.url).pathname)[0] ?? {};
pageMeta.title = "All about the Astro web framework";
pageMeta.subtitle = "References, how-to, issues, hints and tips";

const posts = Object.values(await import.meta.glob('../pages/astro/*.md', { eager: true }))
// const allBlogPosts = await getCollection('blog', ({ data }) => {
//     return data.draft !== true;
// })
const allBlogPosts = await getCollection('blog', ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
})

---
<BaseLayout frontmatter={pageMeta}>

    <p>Posts Pages Archive:</p>
    <ul>
        {posts.map(post => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>
    <p>Posts Content Archive:</p>
    <ul>
        {allBlogPosts.map(post => <li><a href={`../posts/${post.slug}`}>{post.data.title}</a></li>)}
    </ul>
</BaseLayout>
