---
/** 
 * TODO
 * apple-touch-icon - link, can have multiple at different sizes
 * <link rel="sitemap" type="application/xml" href="/sitemap-index.xml" />

 * keywords <= no longer used by seo
 *
 * https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta/name
 * https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/The_head_metadata_in_HTML
 * https://faq.frontendnet.work/metatags/Miscellaneous/license
 * https://developer.x.com/en/docs/x-for-websites/cards/guides/getting-started
 * 
 * Opengraph image generator: https://www.opengraph.xyz
 * 
 * <meta name="twitter:card" content="summary_large_image">
 * <meta property="twitter:domain" content="totallyinformation.net">
 * <meta property="twitter:url" content="https://www.totallyinformation.net/posts/2024-11/remote-service-access-comparison/">
 * <meta name="twitter:title" content="">
 * <meta name="twitter:description" content="">
 * <!-- Facebook Meta Tags -->
 * <meta property="og:url" content="https://www.totallyinformation.net/posts/2024-11/remote-service-access-comparison/">
 * <meta property="og:type" content="website">
 * <meta property="og:title" content="">
 * <meta property="og:description" content="">
 */

import siteInfo from '@/site-info.json';
let pageMeta = Astro.props.frontmatter

---
<!-- PageMeta -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="color-scheme" content="dark light" />
<meta name="license" content={siteInfo.license} />
<meta name="license:uri" content={siteInfo.licenseUri} />
<meta name="copyright" content={siteInfo.copyright} />
<meta name="creator" content={siteInfo.organisation} />
<meta name="twitter:creator" content={siteInfo.orgTwitter}>
<meta name="generator" content={Astro.generator} />
<meta name="canonical" content={`${Astro.site}${pageMeta.path.replace('/','')}`} />
<meta name="author" content={pageMeta.author || siteInfo.author} />
<meta name="twitter:site" content={pageMeta.authorTwitter || siteInfo.authorTwitter} />
<meta name="description" content={pageMeta.description} />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="alternate" type="application/rss+xml" title={`${siteInfo.title} | Latest Articles`} href={new URL("rss.xml", Astro.site)} />

<title>{pageMeta.title} - {siteInfo.name}</title>

{pageMeta.cover ? <meta property="og:image" content={pageMeta.cover.src}><meta name="twitter:image" content={pageMeta.cover.src}> : ''}
<!-- End of PageMeta -->
