---
/** Show a single collection article's metadata such as description, collection name, category and tags
 * 
 * TODO
 * - Add last update date
 */

import FrontmatterTagList from '@/components/utils/FrontmatterTagList.astro';
import siteInfo from '@/site-info.json';

/**
 * @typedef {Object} Props
 * @property {object} frontmatter - Any frontmatter defined on the article page
 * @property {boolean} showDescription If true, show the article descriptionlist navigation bar
 * @property {string} wrapperClass Set to a classname to apply to the wrapping div
 */

/** @type {Props} */
let { frontmatter, showDescription = true, wrapperClass = "" } = Astro.props;

if (!frontmatter?.author) frontmatter.author = siteInfo.author ?? '';

let isUpdated = false;

const created = frontmatter?.created.toISOString().slice(0,10);
const updated = frontmatter?.updated.toISOString().slice(0,10);

if (created !== updated) isUpdated = true;

// console.log('[src/components/utils/ArticleMeta.astro] created, updated, isUpdated', created, updated, isUpdated)

---
<div class={wrapperClass} data-component="ArticleMeta">
    {showDescription ?  <div class="ArticleMetaDesc">{frontmatter?.description ?? 'No description'}</div> : ''}
    <div class="ArticleMeta">
        <div>
            { isUpdated ? <span>Updated: {updated},</span> : '' }
            <span>Created: {created}</span>.
            { frontmatter?.collection ? <span>Collection: <a href=`/${frontmatter.collection}/`>{frontmatter.collection}</a></span> : '' }
            { frontmatter?.collection && frontmatter.category ? <span>, </span> : '' }
            { frontmatter?.category ? <span>Category: <a href=`/category/${frontmatter.category}/`>{frontmatter.category}</a></span> : '' }
        </div>
        <div>
            { frontmatter?.tags ? <FrontmatterTagList tags={frontmatter.tags} label="ðŸ·ï¸ " /> : '' }
        </div>
    </div>
</div>

<style>
    .ArticleMeta {
        margin: .4rem -.5rem -.5rem -.5rem;
        padding: .5rem;
        border-radius: 0  0 var(--border-radius) var(--border-radius);
        font-size: small;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        background-color: var(--surface4);
    }
    .ArticleMeta > div {
        flex: 1 1 content;
        min-width: fit-content;
    }
    .ArticleMeta > div:last-of-type {
        text-align: right;
    }
</style>
