---
/** Show a single collection article's metadata such as description, collection name, category and tags
 * 
 * TODO
 * - Add last update date
 */

import FrontmatterTagList from '@/components/utils/FrontmatterTagList.astro'

/**
 * @typedef {Object} Props
 * @property {object} frontmatter - Any frontmatter defined on the article page
 * @property {boolean} showDescription If true, show the article descriptionlist navigation bar
 * @property {string} wrapperClass Set to a classname to apply to the wrapping div
 */

/** @type {Props} */
const { frontmatter, showDescription = true, wrapperClass = "" } = Astro.props;

---
<div class={wrapperClass} data-component="ArticleMeta">
    {showDescription ? 
    <div class="ArticleMetaDesc">
        {frontmatter?.description ?? 'No description'}
    </div>
    : ''}
    <div class="ArticleMeta">
        <div>
            { frontmatter?.collection ? <span>Collection: <a href=`/${frontmatter.collection}/`>{frontmatter.collection}</a></span> : '' }
            { frontmatter?.collection && frontmatter.category ? <span>, </span> : '' }
            { frontmatter?.category ? <span>Category: <a href=`/category/${frontmatter.category}/`>{frontmatter.category}</a></span> : '' }
        </div>
        <div>
            { frontmatter?.tags ? <FrontmatterTagList tags={frontmatter.tags} label="ðŸ·ï¸ " /> : '' }
        </div>
    </div>
</div>

<style>
    .ArticleMeta {
        margin-top: .6rem;
        font-size: smaller;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .ArticleMeta > div {
        flex: 1 1 content;
        min-width: fit-content;
    }
</style>
